
.theme-white {
  background-color: #f8f9fa;
  color: #000;
}

.theme-green {
  background-color: #d1e7dd;
  color: #0f5132;
}

.theme-pink {
  background-color: #fde2e2;
  color: #842029;
}


.theme-beige {
  background-color: #fef6e4;
  color: #5b4636;
}


.theme-purple {
  background-color: #f3e8ff;
  color: #4b0082;
}


.theme-black {
  background-color: #1e1e1e;
  color: #f0f0f0;
}

.theme-white .read-container,
.theme-green .read-container,
.theme-pink .read-container,
.theme-beige .read-container,
.theme-purple .read-container,
.theme-black .read-container,
.theme-white .read-card,
.theme-green .read-card,
.theme-pink .read-card,
.theme-beige .read-card,
.theme-purple .read-card,
.theme-black .read-card,
.theme-white .chapter-content,
.theme-green .chapter-content,
.theme-pink .chapter-content,
.theme-beige .chapter-content,
.theme-purple .chapter-content,
.theme-black .chapter-content {
  background-color: inherit;
  color: inherit;
}


.read-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 1rem;
}

.flex-fill-wrapper {
  flex: 1 0 auto;
}

.custom-nav-bar {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  border-top: 1px solid #dee2e6;
  background-color: #f8f9fa;
  border-radius: 0.375rem;
  gap: 5.5rem;
}

.read-card {
  border: none !important;
  box-shadow: none;
}

.chapter-content {
  font-size: 1.15rem;
  line-height: 2em;
  white-space: pre-wrap;
  text-align: justify;
} 
.content-wrapper {
  flex-grow: 1;
}

.story_name{
  text-decoration: none !important;
  background-color: inherit;
  color: inherit;

}
